@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
::selection {
  background: #ff5500;
  -webkit-box-shadow: 0px 0px 270px 7px rgba(255, 111, 0, 0.9);
  -moz-box-shadow: 0px 0px 270px 7px rgba(255, 111, 0, 0.9);
  box-shadow: 0px 0px 270px 7px rgba(255, 111, 0, 0.9);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.button {
  transition: all 0.2s ease-in-out;
}
.glow1 {
  -webkit-box-shadow: 0px 0px 270px 7px rgba(255, 111, 0, 0.9);
  -moz-box-shadow: 0px 0px 270px 7px rgba(255, 111, 0, 0.9);
  box-shadow: 0px 0px 270px 7px rgba(255, 111, 0, 0.9);
}
.glow2 {
  -webkit-box-shadow:0px 0px 105px 45px rgba(0,255,153,0.24);
  -moz-box-shadow: 0px 0px 105px 45px rgba(0,255,153,0.24);
  box-shadow: 0px 0px 105px 45px rgba(0,255,153,0.24);
}
.button:hover {
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.464);
  transition: all 0.2s ease-in-out;
}
.glow {
  box-shadow: 1px 2px 20px #ffd7cd4d;
}
html {
  font-family: "IBM Plex Mono", monospace;
  scroll-behavior: smooth;
  background: black;
}
/* Define scrollbar width and color */
::-webkit-scrollbar {
  width: 10px; /* Change the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; /* Change the color as needed */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1c1c; /* Change the color as needed */
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f; /* Change the color as needed */
}
chatroom::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b; /* Change the color as needed */
}
